/* Add here all your CSS customizations */

@media (min-width: 992px) {
  .header.header-nav-menu .header-nav-main nav > ul > li > a {
    font-size: 18px;
  }
}


form .form-group label {
  color: white;
  font-size: 13px;

}

.display-none{
  display: none;

}


div.xAxis div.tickLabel {
  transform: rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
  /*rotation-point:50% 50%;*/ /* CSS3 */
  /*rotation:270deg;*/ /* CSS3 */
}

html.dark table.dataTable {
  color: lightgray !important;
}

html.dark table.dataTable tr input[type="text"]:not([disabled]){
  border-color: lightgray;
}

