<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Navigation
    </div>
    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">

        <ul class="nav nav-main">
          <li>
            <a href="/">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-table" aria-hidden="true"></i>
              <span>Dummy Plugin</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="/NFV-MON/kubernetes/resource-usage">
                  Show Dummy Plugin Page
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>QoS/Resource Usage Correlation Detection</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="#">
                  View Correlations
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>Initial Resource Allocation Policy Recommender</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="#">
                  Generate Experiments
                </a>
              </li>
              <li>
                <a href="#">
                  Manage Recommendations
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>Fault Detection</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="#">
                  Train Fault Detector With Fault Injection
                </a>
              </li>
              <li>
                <a href="#">
                  View Fault Reports
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>NFV-Optimizer</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="#">
                  Workload Modeling
                </a>
              </li>
              <li>
                <a href="#">
                  Manage Optimizer
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>VNF's Resource Usage Characteristic Classification</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="#">
                  Manage Experiments
                </a>
              </li>
              <li>
                <a href="#">
                  View Results
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a href="#">
              <i class="fas fa-list-alt" aria-hidden="true"></i>
              <span>Incoming Traffic Prediction</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="#">
                  Train Predictor
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>

    <script>
      // Maintain Scroll Position
      if (typeof localStorage !== 'undefined') {
        if (localStorage.getItem('sidebar-left-position') !== null) {
          var initialPosition = localStorage.getItem('sidebar-left-position'),
            sidebarLeft = document.querySelector('#sidebar-left .nano-content');

          sidebarLeft.scrollTop = initialPosition;
        }
      }
    </script>


  </div>

</aside>
